@import 'projects/demo/src/assets/scss/variables';

:host {

    > header {
        position: relative;
        z-index: 1;
        background: $colorPrimary;
        color: #FFF;
        text-align: center;
        height: $headerHeight;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        margin-top: 0;
        transition-duration: 500ms;
        overflow: hidden;

        > h1{
            margin: 0;
            padding: 9px 0;
            color: #FFF;
            max-height: 68px;

            > .logo {
                cursor: pointer;
                margin-right: -92px;
                width: auto;
                height: 40px;
                animation-delay: 200ms;
            }
            
            > .version {
                position: absolute;
                top: 50px;
                left: calc(50% + 42px);
                transform: translateX(-50%);
                font-size: 11px;
            }
        }


        > div {
            background: $colorSecondary;

            .header-content {
                display: table;
                margin: 0 auto;

                .menu-button {
                    display: table-cell;
                    vertical-align: middle;
                    width: 70px;
                    padding: 15px;
                    cursor: pointer;

                    > span,
                    &::after,
                    &::before {
                        position: relative;
                        top: 0;
                        left: 0;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 4px;
                        border-radius: 2px;
                        margin-bottom: 3px;
                        background: #FFF;
                        transition-duration: 300ms;
                    }

                    &::after {
                        margin-bottom: 0;
                    }

                    &:hover {
                        background: rgba(#FFF, .1);
                    }

                    &.opened {
                        > span {
                            opacity: 0;
                        }
            
                        &::before {
                            transform: rotate(-45deg);
                            width: 30px;
                            left: 5px;
                            top: 8px;
                        }
            
                        &::after {
                            transform: rotate(45deg);
                            width: 30px;
                            left: 5px;
                            top: -6px;
                        }
                    }
                }

                .logo {
                    position: relative;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    margin-right: 0;
                    transition-duration: 500ms;
                    overflow: hidden;
                    padding: 11px 0;

                    > img {
                        width: inherit;
                        height: auto;
                        animation-delay: 200ms;
                    }

                    .version {
                        position: absolute;
                        bottom: 2px;
                        left: calc(50% + 25px);
                        transform: translateX(-50%);
                        font-size: 11px;
                        width: 100%;
                    }

                    &.expand-logo {
                        width: 80px;
                        margin-right: 10px;
                    }
                }
            }

            &:not(.mobile) {
                .header-content {
                    > ul {
                        display: inline-block;
                        vertical-align: middle;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        max-width: 1500px;
            
                        > li {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;
                            cursor: pointer;
    
                            > a,
                            > a:active,
                            > a:visited {
                                display: block;
                                padding: 15px 25px;
                                border-bottom: 0 solid #FFF;
                                color: #FFF;
                                text-decoration: none;
                                transition-duration: .2s;
                            }
    
                            > a {
                                &.active-link {
                                    background: rgba(#FFF, .05);
                                    border-bottom-width: 3px;
                                    padding-bottom: 12px;
                                }
                            }
    
                            &:hover {
                                > a:not(.active-link) {
                                    background: rgba(#FFF, .05);
                                }
                            }
                        }
                    }
                }
            }

            &.mobile {
                .header-content {
                    width: 100%;
                    text-align: left;
                    height: #{$headerHeight - $titleHeaderHeight};
                    position: relative;

                    .logo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &.expand-logo {
                            .version {
                                bottom: 3px;
                                left: calc(50% + 49px);
                            }
                        }
                    }

                    > ul {
                        position: fixed;
                        z-index: 99;
                        top: #{$headerHeight - $titleHeaderHeight - 9px};
                        left: 10px;
                        background: #FFF;
                        border-radius: 3px;
                        box-shadow: 0 0 8px rgba(#000, .3);
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        > li {
                            display: block;
    
                            > a,
                            > a:active,
                            > a:visited {
                                display: block;
                                padding: 15px 25px;
                                border-right: 0 solid $colorSecondary;
                                color: #FFF;
                                text-decoration: none;
                                transition-duration: .2s;
                                color: #555;
                                font-size: 14px;
                            }
    
                            > a {
                                &.active-link {
                                    background: rgba(#FFF, .05);
                                    border-right-width: 3px;
                                    color: $colorSecondary;
                                    cursor: default;
                                }
                            }
    
                            &:hover {
                                > a:not(.active-link) {
                                    background: rgba(#000, .05);
                                }
                            }

                            &:first-child {
                                > a,
                                > a:active,
                                > a:visited {
                                    border-radius: 3px 3px 0 0;
                                }
                            }

                            &:last-child {
                                > a,
                                > a:active,
                                > a:visited {
                                    border-radius: 0 0 3px 3px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.hide-title {
            margin-top: -$titleHeaderHeight;
        }
        
        &.with-shadow {
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        }
    }

    > section {
        position: relative;
        display: table;
        width: 100%;
        height: calc(100vh - #{$headerHeight});
    }
}

:host::ng-deep {
    > section {
        .main-container {
            position: relative;
            padding: 30px;
            display: block;
            overflow: auto;
            width: 100%;
            height: calc(100vh - #{$headerHeight});
            transition-duration: 500ms;
            
            animation-fill-mode: both;
            animation-duration: 500ms;
            animation-name: fadeIn;
    
            .main-container-inner {
                max-width: 1100px;
                margin: auto;
                padding: 0 0 30px 0;
            
                animation-fill-mode: both;
                animation-duration: 500ms;
                animation-name: fadeIn;
            }
    
            p {
                margin-top: 0;
    
                &.about {
                    font-size: 13px;
                    color: #888;
                    padding: 10px;
                    background: rgba(#000, .025);
                }
            }
        }

        .side-left-bar {
            &:not(.mobile) ~ .main-container {
                display: block;
                float: left;
                width: calc(100vw - 250px);
                position: initial;
    
                .main-container-inner {
                    max-width: 900px;
                    margin: auto;
                }
            }
        }

        &.hide-title {
            .side-left-bar,
            .main-container {
                height: calc(100vh - #{$headerHeight - $titleHeaderHeight});
            }
        }

        &.mobile {
            display: block;
            overflow: auto;
            height: calc(100vh - #{$headerHeight - $titleHeaderHeight});
            padding-bottom: 50px;

            .main-container {
                position: initial;
                overflow: initial;
                height: auto;
                padding-top: 104px;
            }

            .side-left-bar {
                height: auto;

                ~ .main-container {
                    padding-top: 0;
                    margin-top: 48px;
                }
            }
        }
    }
}