<div class="side-left-bar">
    <ul>
        <li>
            <a routerLink="/demo/client-side" routerLinkActive="active-link">Client side</a>
        </li>
        <li>
            <a routerLink="/demo/server-side" routerLinkActive="active-link">Server side</a>
        </li>
        <li>
            <a routerLink="/demo/server-side-infinity" routerLinkActive="active-link">Server side infinity scroll</a>
        </li>
    </ul>
</div>
<div class="main-container">
    <router-outlet></router-outlet>
</div>