<div class="main-container-inner">
    <div class="row">
        <div class="col-12">
            <h4>Server side (infinity scroll)</h4>
            <p class="about">
                This is used when all the data is not on the client side, needing to call the server to bring the other data.
                The call to the server is being made when the user reaches the end of the data list.
            </p>

            <h5>Example</h5>
            <ag-table #table height="450px" min-width="800px" infinity="25" [items]="dataItems" [data-are-over]="dataAreOver" server-side [loading]="loading" (onGetData)="getData($event)">
                <ag-table-header>
                    <ag-table-col filter="text" field="id" placeholder="Identifier" width="100px">
                        ID
                    </ag-table-col>
                    <ag-table-col filter="text" field="name" placeholder="Set a name">
                        Name
                    </ag-table-col>
                    <ag-table-col filter="date" field="dateRef" width="200px">
                        Date
                    </ag-table-col>
                    <ag-table-col filter="select" field="type" [options]="types" width="150px">
                        Type
                    </ag-table-col>
                </ag-table-header>
                <ag-table-body>
                    <ag-table-row *ngFor="let teste of table.items">
                        <ag-table-cell>{{teste.id}}</ag-table-cell>
                        <ag-table-cell>
                            {{teste.name}}
                        </ag-table-cell>
                        <ag-table-cell>{{teste.dateRef | date:'yyyy/MM/dd'}}</ag-table-cell>
                        <ag-table-cell>{{teste.type}}</ag-table-cell>
                    </ag-table-row>
                </ag-table-body>
            </ag-table>

            <h5 class="mt-2 mb-0">Code</h5>
            <mat-tab-group [style.minHeight.px]="450">
                <mat-tab label="HTML">
                    <pre>
                        <code [highlight]="strHtml"></code>
                    </pre>
                </mat-tab>
                <mat-tab label="TypeScript">
                    <pre>
                        <code [highlight]="strTs"></code>
                    </pre>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>