:host::ng-deep {

    .with-tag {
        display: inline-block;

        > span {
            &::before {
                display: initial;
                content: '<';
            }
            &::after {
                display: initial;
                content: '>';
            }

            &:not(:only-child) {
                &:nth-last-child(2) {
                    padding-left: 5px;
                }
    
                &:nth-last-child(1) {
                    padding-right: 5px;
                }
            }
    
            &:only-child {
                padding: 0 5px 0 0;
            }
        }

        &:not(a) {
            vertical-align: middle;

            > span {
                padding: 5px 0;
    
                &:only-child {
                    padding: 5px 5px;
                }

                &.grayscale {
                    color: #777;
                    background: #FAFAFA;
                }
            }
        }
    }

    .structure {
        .with-tag {
            &:not(a) {
                > span {
                    font-size: 15px;
                }
            }
        }
    }

}