@import 'projects/demo/src/assets/scss/variables';

:host {
    .change-log-versions {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            display: table;
            width: 100%;
            position: relative;
            padding: 20px 0 20px 50px;
            color: #777;
            
            > section {
                display: table-cell;
                vertical-align: middle;

                > div {
                    opacity: .5;
                    transition-duration: 300ms;

                    &.version {
                        
                        > span {
                            color: $colorSecondary;
                            font-weight: bold;
                        }
                    }

                    &.descript {
                        color: #444;
                        font-size: 14px;
                        padding-left: 10px;
                    }
                }
    
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 15px;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #FFF;
                    border: 4px solid #CCC;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
                    transition-duration: 300ms;
                }
            }
            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                width: 4px;
                left: 27px;
                top: 0;
                bottom: 0;
                transform: translateX(-50%);
                transition-duration: 300ms;
            }

            &::before {
                background: #E5E5E5;
            }
            &::after {
                opacity: 0;
                background: linear-gradient(to top, #E5E5E5, $colorSecondary 40%, #E5E5E5);
            }
    
            &:first-child {
                > section {
                    > div {
                        opacity: 1;
                    }
                    
                    &::before {
                        background: $colorSecondary;
                        border-color: #FFF;
                    }
                }

                &::before {
                    top: 50%;
                }

                &:hover {
                    > section {
                        &::before {
                            background: $colorPrimary;
                            box-shadow: 0 1px 25px rgba($colorSecondary, 0.5);
                        }
                    }
                }
            }
    
            &:last-child {
                &::before {
                    bottom: 50%;
                }

                &::after {
                    bottom: 50%;
                    background: linear-gradient(to top, $colorSecondary, #E5E5E5 80%);
                }
            }

            &:not(:first-child):hover {
                > section {
                    > div {
                        opacity: 1;
                    }

                    &::before {
                        border-color: $colorSecondary;
                        box-shadow: 0 1px 25px rgba($colorSecondary, 0.3);
                    }
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .contributors {
        position: relative;
        padding: 0 0 20px 0;
        margin: 0;
        list-style: none;

        > a {
            > li {
                display: table;
                width: 100%;
                padding: 20px 0;
                padding-left: 15px;
                color: #777;
    
                > div {
                    display: table-cell;
                    vertical-align: middle;
    
                    &:first-child {
                        width: 120px;
                    }
    
                    > img {
                        filter: grayscale(100%);
                        display: block;
                        width: 100px;
                        height: auto;
                        border-radius: 50%;
                        border: 8px solid #FFF;
                        box-shadow: 3px 0 12px rgba(#000, .1);
                        transition-duration: 300ms;
                    }
    
                    > h5 {
                        font-weight: 400;
                    }
        
                    > span {
                        font-weight: bold;
                        font-size: 15px;
                        color: #555;
                    }
        
                    > a:hover {
                        text-decoration: underline;
                    }
                }
    
                &:hover {
                    > div {
                        > img {
                            filter: grayscale(0);
                            border-width: 0px;
                        }
                    }
                }
            }
        }
        
        > a,
        > a:active,
        > a:hover,
        > a:visited {
            font-weight: bold;
            font-size: 15px;
            color: #555;
            text-decoration: none;
        }
    }
}