<div #mainContainer class="main-container">
    <div class="main-container-inner">
        <div class="row">
            <div class="col-12 p-initial">
                <div class="get-started-link">
                    <button (click)="goToGetStarted(getStarted)">
                        GET STARTED!
                    </button>
                </div>
                        
                <h4 class="mt-3">Why AgTable?</h4>
                <p>
                    <strong class="color-secondary">AgTable</strong> is an alternative for developers who 
                    need agility and efficiency while coding. With <strong class="color-secondary">AgTable</strong> it is possible to create a fully functional 4
                    data table with minimum effort. With an well elaborated structure, there is no need to create compronents 
                    for columns or cells, as some other data table components require.
                </p>
                        
                <h4 class="mt-5">Why is it so good?</h4>
                <p>
                    The reasons for using  <strong class="color-secondary">AgTable</strong> are many, but 
                    some features make it stand out from other existing data-tables solutions:

                </p>
                <ul>
                    <li>Virtual scrolling</li>
                    <li>High performance while displaying thousand of records</li>
                    <li>Filtering, sorting and paginating are possible either on client or server side</li>
                    <li>Allows you to view data obtained from the server</li>
                    <li>Data pagination with infinity scroll or regular pagination</li>
                    <li>Does not force you to create components to customize columns and cells</li>
                    <li>Column sizes are customizable</li>
                    <li>Much more;</li>
                </ul>
                        
                <h4 class="mt-5">Get started!</h4>
                <div #getStarted class="get-started">
                    <section>
                        <h5>Install</h5>
                        <pre class="themed">
                            <code highlight="> npm install ag-table"></code>
                        </pre>

                        <h5 class="mt-4">Import into Module</h5>
                        <pre>
                            <code [highlight]="importModule"></code>
                        </pre>

                        <h5 class="mt-4">Set language (optional)</h5>
                        <pre>
                            <code [highlight]="customLangModule"></code>
                        </pre>

                        <h5 class="mt-4">Import into style.scss</h5>

                        <h6 class="mt-2">Simple import:</h6>
                        <pre>
                            <code [highlight]="importScss1"></code>
                        </pre>
                        <h6 class="mt-3">Custom import (with theme color):</h6>
                        <pre>
                            <code [highlight]="importScss2"></code>
                        </pre>

                        <h5 class="mt-4">Sample</h5>
                        <mat-tab-group [style.minHeight.px]="450">
                            <mat-tab label="Live demo">
                                <div class="demo-card pt-3">
                                    <section>
                                        <ag-table #table paginate="100" [items]="dataItems" clickable height="500px" min-width="650px">
                                            <ag-table-header>
                                                <ag-table-col filter field="name" placeholder="Set a professional">
                                                    Professional
                                                </ag-table-col>
                                                <ag-table-col filter field="profArea" placeholder="Set a area" width="200px">
                                                    Area
                                                </ag-table-col>
                                                <ag-table-col filter="select" field="profType" [options]="types" width="150px">
                                                    Type
                                                </ag-table-col>
                                            </ag-table-header>
                                            <ag-table-body row-height="90px">
                                                <ag-table-row *ngFor="let item of table.items" (click)="onClick(item)">
                                                    <ag-table-cell class="name">
                                                        <img [src]="item.avatar" />
                                                        <div>
                                                            <span>{{item.name}}</span><br/>
                                                            {{item.phone}}<br/>
                                                            {{item.email}}
                                                        </div>
                                                    </ag-table-cell>
                                                    <ag-table-cell>
                                                        {{item.profArea}}
                                                    </ag-table-cell>
                                                    <ag-table-cell>
                                                        {{item.profType}}
                                                    </ag-table-cell>
                                                </ag-table-row>
                                            </ag-table-body>
                                        </ag-table>
                                    </section>
                                </div>
                            </mat-tab>
                            <mat-tab label="HTML">
                                <pre>
                                    <code [highlight]="simpleExampleHtml"></code>
                                </pre>
                            </mat-tab>
                        </mat-tab-group>

                        <h5 class="mt-4">Important!</h5>
                        <ul>
                            <li>Whenever possible, set a height for '<strong>ag-table</strong>' so it can virtualize its items.</li>
                            <li>Input all your data through [items].</li>
                            <li>Add <strong><i>#table</i></strong> in '<strong>ag-table</strong>' in order to iterate the table content with <strong>*ngFor</strong>.</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>