<div #headerShadowEl class="top-shadow animated fadeIn" [ngClass]="{'to-drop': topShadow}"></div>

<ag-table-paginate *ngIf="!infinity && paginate !== null"
    class="animated fadeIn"
    [ngClass]="{ 'to-drop': bottomShadow, 'on-infinity': infinity }"
    [length]="(isPaging && numPages) ? numPages : 1"
    [current]="(isPaging && numPages) ? currentPage : 1"
    [objCaption]="(isPaging && numPages) ? paginateCaptionConfig : { start: 1, end: dataLength, total: 0 }"
    [loading]="loading"
    [disabled]="loading"
    (change)="onPageChange($event)">
</ag-table-paginate>

<ng-content></ng-content>

<div *ngIf="loading && (!infinity || currentPage === 1)" class="ag-table-loading animated fadeIn">
    <ag-table-spinner></ag-table-spinner>
</div>