<header [ngClass]="{'hide-title': mobileScreen || hideTitleHeader, 'with-shadow': shadowHeader}">
    <h1>
        <img class="logo animated" src="assets/img/ag-table.svg" routerLink="/" [ngClass]="{'fadeIn': !mobileScreen && !hideTitleHeader, 'fadeOut': mobileScreen || hideTitleHeader}"/>
        <span class="version">v {{version}}</span>

        <div class="d-table f-right" [style.marginTop.px]="-5">
            <div class="d-table-cell va-middle">
                <a class="mr-3" href="https://github.com/ericferreira1992/ag-table" target="_blank" title="Github repositoty">
                    <img width="24" height="24" src="assets/img/github.png" alt="github">
                </a>
            </div>
            <div class="d-table-cell va-middle">
                <a class="mr-3" href="https://www.npmjs.com/package/ag-table" target="_blank" title="NPM Package">
                    <img width="36" height="36" src="assets/img/npm.png" alt="npm">
                </a>
            </div>
        </div>
    </h1>
    <div [ngClass]="{ 'mobile': mobileScreen }">
        <div class="header-content">
            <div #menuButtonElRef *ngIf="mobileScreen" class="menu-button" [ngClass]="{'opened': showMobileScreenMenu}" (click)="showMobileScreenMenu = !showMobileScreenMenu">
                <span></span>
            </div>

            <div class="logo" [ngClass]="{'expand-logo': mobileScreen || hideTitleHeader}">
                <img class="animated" src="assets/img/ag-table.svg" routerLink="/" [ngClass]="{'fadeIn': mobileScreen || hideTitleHeader, 'fadeOut': !mobileScreen && !hideTitleHeader}"/>
                <span class="version">v {{version}}</span>
            </div>

            <div *ngIf="mobileScreen" class="d-table f-right" [style.marginTop.px]="4">
                <div class="d-table-cell va-middle">
                    <a class="mr-3" href="https://github.com/ericferreira1992/ag-table" target="_blank" title="Github repositoty">
                        <img width="21" height="21" src="assets/img/github.png" alt="github">
                    </a>
                </div>
                <div class="d-table-cell va-middle">
                    <a class="mr-3" href="https://www.npmjs.com/package/ag-table" target="_blank" title="NPM Package">
                        <img width="32" height="32" src="assets/img/npm.png" alt="npm" [style.marginTop.px]="4">
                    </a>
                </div>
            </div>

            <ul #menuElRef *ngIf="!mobileScreen || showMobileScreenMenu" class="animated fadeIn">
                <li>
                    <a routerLink="/" routerLinkActive="active-link">Home</a>
                </li>
                <li>
                    <a routerLink="/demo" routerLinkActive="active-link">Demo</a>
                </li>
                <li>
                    <a routerLink="/api" routerLinkActive="active-link">Documentation / API</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<section #mainSectionElRef [ngClass]="{'hide-title': mobileScreen || hideTitleHeader, 'mobile': mobileScreen}">
    <router-outlet></router-outlet>
</section>