@import 'src/assets/scss/variables';

:host {
    > header {
        background: $colorPrimary;
        color: #FFF;
        text-align: center;

        > h1{
            margin: 0;
            padding: 10px 0;
            color: #FFF;
        }

        > div {
            background: $colorSecondary;
    
            > ul {
                list-style: none;
                margin: 0 auto;
                padding: 0;
                display: table;
                max-width: 1500px;
    
                > li {
                    float: left;
                    font-size: 14px;
                    cursor: pointer;

                    > a,
                    > a:active,
                    > a:visited {
                        display: block;
                        padding: 15px 25px;
                        border-bottom: 0 solid #505050;
                        color: #FFF;
                        text-decoration: none;
                        transition-duration: .2s;
                    }

                    > a {
                        &.active-link {
                            background: rgba(#FFF, .05);
                            border-bottom-width: 3px;
                            padding-bottom: 12px;
                        }
                    }

                    &:hover {
                        > a:not(.active-link) {
                            background: rgba(#FFF, .05);
                        }
                    }
                }
            }
        }
    }

    > section {
        position: relative;
        display: table;
        width: 100%;
        height: calc(100% - 119px);
    }
}

:host::ng-deep {
    .main-container {
        padding: 30px;
        height: 100%;
        display: inline-table;
        width: 100%;
        overflow: auto;
        
        animation-fill-mode: both;
        animation-duration: .5s;
        animation-name: fadeIn;

        .main-container-inner {
            animation-fill-mode: both;
            animation-duration: .5s;
            animation-name: fadeIn;
            max-width: 1100px;
            margin: auto;
        }

        p {
            margin-top: 0;

            &.about {
                font-size: 13px;
                color: #888;
                padding: 10px;
                background: rgba(#000, .025);
            }
        }
    }

    .side-left-bar {
        float: left;
        width: 250px;
        box-shadow: 0 5px 10px rgba(#000, .1);
        height: 100%;

        > ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;

            > li {
                font-size: 14px;

                > a,
                > a:active,
                > a:visited {
                    cursor: pointer;
                    display: block;
                    padding: 10px 15px;
                    color: #555;
                    text-decoration: none;
                    transition-duration: .2s;
                }

                > a {
                    &.active-link {
                        cursor: default;
                        color: $colorSecondary;
                        font-weight: 500;
                        background: rgba(#000, .03);
                    }
                }

                &:hover {
                    > a:not(.active-link) {
                        background: rgba(#000, .05);
                        text-decoration: underline;
                    }
                }
            }
        }

        & ~ .main-container {
            display: block;
            float: left;
            width: calc(100% - 250px);

            .main-container-inner {
                max-width: 900px;
                margin: auto;
            }
        }
    }
}