<header [ngClass]="{'hide-title': hideTitleHeader}">
    <h1>
        <img class="logo" src="assets/img/ag-table.svg"/>

        <div class="d-table f-right" [style.marginTop]="'-5px'">
            <div class="d-table-cell va-middle">
                <a class="mr-3" href="https://github.com/ericferreira1992/ag-table" target="_blank" title="Github repositoty">
                    <img width="24" height="24" src="assets/img/github.png" alt="github">
                </a>
            </div>
            <div class="d-table-cell va-middle">
                <a class="mr-3" href="https://www.npmjs.com/package/ag-table" target="_blank" title="NPM Package">
                    <img width="36" height="36" src="assets/img/npm.png" alt="npm">
                </a>
            </div>
        </div>
    </h1>
    <div>
    
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li>
                <a routerLink="/demo" routerLinkActive="active-link">Demo</a>
            </li>
            <li>
                <a routerLink="/api" routerLinkActive="active-link">Documentation / API</a>
            </li>
        </ul>
    </div>
</header>
<section [ngClass]="{'hide-title': hideTitleHeader}">
    <router-outlet></router-outlet>
</section>