<header>
    <h1>
        Ag-Table
    </h1>
    <div>
    
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li>
                <a routerLink="/demo" routerLinkActive="active-link">Demo</a>
            </li>
            <li>
                <a routerLink="/api" routerLinkActive="active-link">Documentation / API</a>
            </li>
        </ul>
    </div>
</header>
<section>
    <router-outlet></router-outlet>
</section>