.color {
    &-primary { color: $colorPrimary; }
    &-secondary { color: $colorSecondary; }
}

.d{
    &-table { display: table !important; }
    &-table-cell { display: table-cell !important; }
    &-block { display: block !important; }
    &-inline-block { display: inline-block !important; }
    &-initial { display: initial !important; }
}

.va {
    &-middle { vertical-align: middle; }
    &-top { vertical-align: top; }
    &-bottom { vertical-align: bottom; }
}

.p{
    &-absolute { position: absolute !important; }
    &-relative { position: relative !important; }
    &-fixed { position: fixed !important; }
    &-initial { position: initial !important; }
}

.f-w {
    &-100 { font-weight: 100; }
    &-200 { font-weight: 200; }
    &-300 { font-weight: 300; }
    &-400 { font-weight: 400; }
    &-500 { font-weight: 500; }
    &-bold { font-weight: bold; }
}

.f {
    &-right { float: right; }
    &-left { float: left; }
    &-none { float: none; }
}

.opacity {
    &-default { 
        opacity: 1;
    }
    @for $i from 0 through 9 {
        &-#{$i}{
            opacity: #{calc($i / 10)};
        }
    }
}

.code {
    background: #F8F8F8;
    padding: 2px;
    color: #222;
    font-weight: 400;
}

.step-list {
    padding-left: 15px;
    font-size: 14px;
    color: #555;
    list-style-type: decimal;
}