@mixin cell($color) {
    .ag-table-cell {
        display: table-cell;
        vertical-align: middle;
        width: auto;
        height: auto;
        padding: 10px 0;
        padding-left: 10px;
        padding-right: 10px;
        
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #646569;
    
        &:first-child {
            padding-left: 20px;
        }
    
        &:last-child {
            padding-right: 20px;
        }
    }    
}