@mixin header($color) {
    .ag-table-header {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        min-height: 37px;
        top: 0;

        > form {
            display: table;
            width: 100%;
            min-height: 37px;
        }
    
        &[align="top"] {
            .ag-table  { vertical-align: top; }
        }
    
        &[align="middle"] {
            .ag-table  { vertical-align: middle; }
        }
    }
}