@import 'projects/demo/src/assets/scss/variables';

:host {
    
    &:not(.mobile) {
        float: left;
        width: 250px;
        box-shadow: 0 5px 10px rgba(#000, .1);
        height: calc(100vh - #{$headerHeight});
        transition-duration: 500ms;
        overflow: auto;

        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
    
            > li {
                font-size: 14px;
    
                > a,
                > a:active,
                > a:visited {
                    cursor: pointer;
                    display: block;
                    padding: 10px 15px;
                    color: #555;
                    text-decoration: none;
                    transition-duration: .2s;
                }
    
                > a {
                    &.active-link {
                        cursor: default;
                        color: $colorSecondary;
                        font-weight: 500;
                        background: rgba(#000, .03);
                    }
                    &:not(.active-link):hover {
                        background: rgba(#000, .05);
                        text-decoration: underline;
                        color: $colorSecondary;
                    }
                }
    
                > ul {
                    transition-duration: 500ms;
                    overflow: hidden;
        
                    > li {
                        font-size: 13px;
        
                        > a,
                        > a:active,
                        > a:visited {
                            cursor: pointer;
                            display: block;
                            padding: 5px 15px 5px 25px;
                            color: #555;
                            text-decoration: none;
                            transition-duration: .2s;
                        }
        
                        > a {
                            &.active-link {
                                cursor: default;
                                color: $colorSecondary;
                                font-weight: 500;
                                background: rgba(#000, .03);
                            }
                            &:not(.active-link):hover {
                                background: rgba(#000, .05);
                                text-decoration: underline;
                                color: $colorSecondary;
                            }
                        }
                    }
                }
            }
        }
    }

    &.mobile {

        .menu-button {
            display: block;
            position: absolute;
            z-index: 0;
            left: 15px;
        }
        
        > ul {
            position: absolute;
            z-index: 99;
            left: 15px;
            top: 50px;
            background: #FFF;
            border-radius: 3px;
            box-shadow: 0 0 8px rgba(#000, .3);
            list-style: none;
            margin: 0;
            padding: 0;
    
            > li {
                font-size: 14px;
    
                > a,
                > a:active,
                > a:visited {
                    cursor: pointer;
                    display: block;
                    padding: 10px 15px;
                    color: #555;
                    text-decoration: none;
                    transition-duration: .2s;
                }
    
                > a {
                    &.active-link {
                        cursor: default;
                        color: $colorSecondary;
                        font-weight: 500;
                        background: rgba(#000, .03);
                    }
                    &:not(.active-link):hover {
                        background: rgba(#000, .05);
                        text-decoration: underline;
                        color: $colorSecondary;
                    }
                }
    
                > ul {
                    transition-duration: 500ms;
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
        
                    > li {
                        font-size: 13px;
        
                        > a,
                        > a:active,
                        > a:visited {
                            cursor: pointer;
                            display: block;
                            padding: 5px 15px 5px 25px;
                            color: #555;
                            text-decoration: none;
                            transition-duration: .2s;
                        }
        
                        > a {
                            &.active-link {
                                cursor: default;
                                color: $colorSecondary;
                                font-weight: 500;
                                background: rgba(#000, .03);
                            }
                            &:not(.active-link):hover {
                                background: rgba(#000, .05);
                                text-decoration: underline;
                                color: $colorSecondary;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-button {
        width: 70px;
        padding: 15px;
        cursor: pointer;

        > span,
        &::after,
        &::before {
            position: relative;
            top: 0;
            left: 0;
            content: '';
            opacity: 1;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            margin-bottom: 3px;
            background: $colorSecondary;
            transition-duration: 300ms;
        }

        &::after {
            margin-bottom: 0;
        }

        &:hover {
            background: rgba($colorPrimary, .1);
        }

        &.opened {
            > span {
                opacity: 0;
            }

            &::before {
                transform: rotate(-45deg);
                width: 30px;
                left: 5px;
                top: 8px;
            }

            &::after {
                transform: rotate(45deg);
                width: 30px;
                left: 5px;
                top: -6px;
            }
        }
    }
}