<div #menuButtonElRef *ngIf="mobile" class="menu-button" [ngClass]="{'opened': showMobileMenu}" (click)="showMobileMenu = !showMobileMenu">
    <span></span>
</div>

<ul #menuElRef *ngIf="menuItems && (!mobile || showMobileMenu)" class="animated fadeIn">
    <li *ngFor="let menu of menuItems">
        <a [routerLink]="menu.route ? menu.route : null" [routerLinkActive]="menu.route ? 'active-link' : ''" [ngClass]="{'active-link': menu.submenu?.visible}" (click)="onMenuClick(menu)">
            {{ menu.title }}
        </a>
        <ul *ngIf="menu.submenu?.items?.length" [style.height.px]="menu.submenu?.visible ? (menu.submenu?.items?.length * 30) : 0">
            <li *ngFor="let submenu of menu.submenu.items" class="animated" [ngClass]="{'fadeOut': !menu.submenu.visible, 'fadeIn': menu.submenu.visible}" (click)="showMobileMenu = false">
                <a [routerLink]="menu.routePrefix + submenu.route" routerLinkActive="active-link">
                    {{ submenu.title }}
                </a>
            </li>
        </ul>
    </li>
</ul>